canvas {
  background-color:lightgrey;
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  border: 1px solid black;
}

html,body,.row{
	height: 100%;
	background-color: gray;
}


.col-xs-12{
	padding-top: 15px;
	padding-bottom: 15px;
}

.btn-group-vertical{
	height: 100%;
	width: 100%;
}

.btn-group-container{
	padding-top: 15px;
}

.btn-group-vertical button{
	border: 1px solid blue;
}

button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

@media screen and (max-width: 768px) {
    .btn-group-container{
		padding-top: 0px;
	}
}


#loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#loader-container{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
}